

 
 <div id="content" class="clearfix" id="gui">

    <div class="pic" style="height:150px;width:150px;>
      <% if user.avatar? %>
             <a href="#"><%= image_tag user.avatar.url, :size => "150x150" %></a>
      <% else %>
               <a href="#"> <h2 style="margin-left: 24px;"> <%= user.first_name %> </h2> </a>
      <% end %>
    </div>
    
  <section id="left">
   <div id="userStats" class="clearfix">
    
    <div class="data">

     <h1><%= user.first_name %></h1>
     <h3><%= user.title %> </h3> 
  
     <div class="socialMediaLinks">
    
     </div>
     <div class="sep"></div>
     <ul class="numbers clearfix">
      <li>Joined<strong>185</strong></li>
      <li>Hours<strong>344</strong></li>
      <li class="nobrdr">Volunteer<strong>127</strong></li>
     </ul>
    </div>
   </div>
   
   <h1>About Me:</h1>
   <p> <%= user.bio %> </p>
  </section>
  
  <section id="right">
   <div class="gcontent">
    <div class="head"><h1>Group</h1></div>
    <div class="boxy">
     <p> <%= user.group %> </p>
     
    </div>
   </div>
   
   <div class="gcontent">
    <div class="head"><h1>Friends</h1></div>
    <div class="boxy">
     <p>Others in Programming</p>
     
     <div class="friendslist clearfix">
      <div class="friend">
       <a href="#"><img src="img/friend_avatar_default.jpg" width="30" height="30" alt="Jerry K." /></a><span class="friendly"><a href="#">Jerry K.</a></span>
      </div>
      
      <div class="friend">
       <a href="#"><img src="img/friend_avatar_default.jpg" width="30" height="30" alt="Katie F." /></a><span class="friendly"><a href="#">Katie F.</a></span>
      </div>
      
      <div class="friend">
       <a href="#"><img src="img/friend_avatar_default.jpg" width="30" height="30" alt="Ash K." /></a><span class="friendly"><a href="#">Ash K.</a></span>
      </div>
      
      <div class="friend">
       <a href="#"><img src="img/friend_avatar_default.jpg" width="30" height="30" alt="Sponge B." /></a><span class="friendly"><a href="#">Sponge B.</a></span>
      </div>
      
      <div class="friend">
       <a href="#"><img src="img/friend_avatar_default.jpg" width="30" height="30" alt="Frank" /></a><span class="friendly"><a href="#">Frank</a></span>
      </div>
      
      <div class="friend">
       <a href="#"><img src="img/friend_avatar_default.jpg" width="30" height="30" alt="Alexa S." /></a><span class="friendly"><a href="#">Alexa S.</a></span>
      </div>
     </div>
     
     <span><a href="#">See all...</a></span>
    </div>
   </div>
  </section>
 </div>
