


<%= content_for(:title, "Team 1671 Home") %>

<%= stylesheet_link_tag "book", media: 'all', 'data-turbolinks-track' => true %>


<%=  javascript_include_tag 'slyframe' %>


<%=  javascript_include_tag 'TweenMax.min' %>
<%=  stylesheet_link_tag 'font-awesome.min.css' %>
<%=  javascript_include_tag 'menu.js' %>


<%= render 'navbar', :locals => { :info => @info } %>

<div class="wrap">



		

		<div class="usergui">
	<%= render partial: 'users/usr',locals: { user: User.first } %>
	   </div>


			<div class="	">
				<div class="handle" style="transform: translateZ(0px) translateX(0px); width: 190px;">
					<div class="mousearea"></div>
				</div>
			</div>

				<div class="frame" id="forceCentered" style="overflow: hidden;">
				<ul class="clearfix" style="transform: translateZ(0px) translateX(457px); width: 6840px;">
				<% @users.each do |user| %>

						<% if false %>
 						<li class="active" id="" 
 						<li> <%= link_to image_tag (@user.field_name.url), fetch_user_path(:uid => user.school_id), remote: true %> </li>
 						<% else %>
 						<li class="profile-image"> <%= link_to user.first_name, fetch_user_path(:uid => user.school_id), remote: true %> </li>
 					   
						<% end %>
										
				<% end %>
					
				</ul>
			</div>



			<div class="controls center">
				<button class="btn prev disabled" disabled=""><i class="icon-chevron-left"></i> Previous</button>
				<button class="btn next">Next <i class="icon-chevron-right"></i></button>
			</div>
		</div>